<!--logging.pattern.console=%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%caller{1}]%n
Explicación de los placeholders:
%d{yyyy-MM-dd HH:mm:ss.SSS} → fecha y hora con milisegundos
[%thread] → nombre del hilo
%-5level → nivel del log (INFO, DEBUG, ERROR)
%logger{36} → clase que hace el log (máx. 36 caracteres)
%msg → mensaje
[%caller{1}] → muestra Clase.Método(Línea)
%n → salto de línea
-->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/application.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1000KB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="ROLLING" />
    </root>
</configuration>